/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.balloon{
    width: 100px;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    z-index: 5;
}

.counter-wrapper{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}
.modal-wrapper{
    display: none;
}
.fail-active, .win-active {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 10;
}
.fail-active .fail-modal, .win-active .win-modal{
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}
.fail-active .fail-modal .image-div{
    background-image: url("../Materials/images/sad.png");

}
.win-active .win-modal .image-div{
    background-image: url("../Materials/images/happy.png");
}
.image-div{
    height: 200px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.win-modal .image-div {
    height: 250px;
    width: 250px;
}
.fail-modal p:first-of-type, .fail-window h3, .win-modal p:first-of-type, .win-modal h3 {
    font-weight: bold;
}
.win-active .fail-modal, .fail-active .win-modal{
    display: none;
}